button {
  display: inline-block;
  position: relative;
  border: unset;
  background-color: #fff;
  cursor: pointer;
  text-decoration: none;
  border-radius: 3px;
  font-weight: 700;
  line-height: 1em;
  padding: 0.7rem 1.5rem;

  &:hover,
  &:active {
    opacity: 0.75;
  }
}
