.mapapp {
  // map wrapper
  .map-block {
    height: 100%;
    position: relative;

    .menu.top {
      position: absolute;
      z-index: 500;
      width: 100%;

      list-style: none;
      pointer-events: none;

      display: flex;
      align-items: space-between;
      padding: 10px 40px;
      justify-content: center;
      li {
        pointer-events: auto;
        &:nth-child(1) {
          margin-right: auto;
        }
        &:nth-child(2) {
          display: flex;
          align-items: center;

          a {
            display: flex;
            column-gap: 3px;
            align-items: center;
          }
        }
      }
    }

    // Main map, selected by leaflet map selector in map init
    .leaflet-container {
      padding: 0;
      margin: 0;
      height: 100%;
      grid-row: 1/2;
      grid-column: 1/2;

      .leaflet-control-container {
        .leaflet-bottom.leaflet-right {
          width: 100%;
        }

        .leaflet-control-zoom {
          margin-bottom: 40px;
          margin-right: 40px;
          border-radius: 8px;
          border: none;
          background-color: white;

          &.leaflet-bar a {
            width: 45px;
            height: 45px;
            font-size: 40px;
            line-height: 40px;
            background: none;
          }
        }

        .leaflet-control-attribution {
          margin: 0 auto 0 15px;
          background-color: rgba(255, 255, 255, 0);
          right: auto;
          left: 0;
          position: absolute;
          bottom: 2px;
          a {
            text-decoration: none;
            font-size: 14px;
            font-weight: 400;
            color: #000;
          }
        }

        .leaflet-bottom.leaflet-right::after {
          height: 20px;
          width: 90px;
          background-size: contain;
          content: "";
          background-image: url("#{$mapappAssets}mapbox-logo-black.svg");
          display: inline-block;
          background-color: none;
          background-repeat: no-repeat;
          position: absolute;
          right: 0;
          bottom: 0;
          margin: 5px 5px 2px 5px;
        }
      }

      // marker
      .custom-cluster-marker svg {
        height: 100%;
        width: 100%;
      }
      .cluster-count {
        display: inline-block;
        position: absolute;
        top: 56%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 20px;
        color: white;
      }

      // popup
      .leaflet-popup-pane {
        .leaflet-popup {
          padding: 7.5px;
          border: 3px;
          width: 450px;
          max-width: 90vw;
          margin: 20px 0;

          p {
            margin: 0;
            font-size: 16px;
            line-height: 1.1em;
            padding-top: 5px;
            font-weight: 400;
          }

          &-content {
            display: flex;
            flex-direction: row;
            width: 400px !important;
            max-width: 90vw;
            position: relative;
            padding: 10px;
            margin: 0;

            img {
              width: 100px;
              height: auto;
              padding-right: 10px;
              align-self: center;
              display: block;
            }
            .text_wrapper {
              flex-direction: column;
              max-width: 390px;
              display: flex;
              justify-content: space-between;
              padding-right: 10px;

              .popup_title {
                font-size: 18px;
                font-weight: 600;
                color: var(--d_text);
              }
              .popupcategory {
                display: none;
              }
              .popup_button {
                padding: 0;
                font-size: 18px;
                display: block;
                border: none;
                grid-column: 2/3;
                grid-row: 3/4;
                border: none;
                position: relative;
                margin: 15px 0 15px 15px;
                font-weight: 600;

                &:active,
                &:hover {
                  background-color: #fff;
                  color: var(--d_text);
                  opacity: 0.75;
                }
              }
            }
          }
        }
        .leaflet-popup-close-button {
          &::before {
            content: "";
            background-image: url("#{$mapappAssets}static_icon_x.svg");
            display: flex;
            background-position: center center;
            background-size: 60%;
            background-repeat: no-repeat;
            position: relative;
            left: 0px;
            background-color: #fff;
            border-radius: 50px;
            box-shadow: 0 0 2px 1px gray;
            width: 24px;
            height: 24px;
          }

          // hide default x
          span {
            display: none;
          }
        }
      }
    }
  }
}

.leaflet-popup .popup_button::after {
  left: -25px;
  right: auto;
  background-size: 60%;
  bottom: -5px;
  padding: 0;
  top: auto;
}

// .leaflet-popup .popup_button:hover::after,
// .leaflet-popup .popup_button:hover::after {
//   background-image: url(/wp-content/plugins/ILEK-Map-App/icons/right-svgrepo-com.svg);
// }
