* {
  box-sizing: border-box;
  font-family: "Barlow";
  color: $text_color_black;
}
html,
body,
main {
  height: 100%;
}

body {
  margin: 0;
  background-color: $sitewide_bg_color;
}

p {
  font-size: 20px;
  font-weight: 300;
  line-height: 32px;
  strong {
    font-weight: 600;
  }
}

h1 {
  font-weight: 600;
  font-size: 50px;
}

ul,
ol,
li {
  list-style: none;
  margin: 0;
}

a {
  color: $primary_color;
  text-decoration: none;
  &:hover,
  &:active {
    opacity: 0.75;
  }
}
svg {
  height: 100%;
  width: 100%;
}
