* {
  box-sizing: border-box;
  font-family: "Barlow";
}
html,
body,
main {
  height: 100%;
}

body {
  margin: 0;
}
ul,
ol {
  list-style: none;
}

a {
  color: $primary_color;
  text-decoration: none;
}
