// Dunkelgrün:
// Hellgrün:
// Orange:
$text_color_black: #212427;
$darkgreen: #0c8a2d;
$lightgreen: #96bf0d;
$orange: #f29400;

$primary_color: $darkgreen;
$secondary_color: $lightgreen;
$accent_color: $orange;

.primary {
  color: $primary_color;
  &--fill {
    fill: $primary_color;
  }
  &--stroke {
    stroke: $primary_color;
  }
}
