// If it has map
.logo {
  margin: 0;
  font-size: 40px;
  font-weight: 500;
  width: 100%;
}

.content {
  margin: 10%;
}

.mapapp {
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: 70% 30%;
  position: relative;
  overflow-y: hidden;
  height: 100%;
  .map-block {
    width: 100%;
    .menu.top ul {
      padding: 8px 16px;
      margin: 0;
    }
  }
  .sidebar {
    margin: 0;

    display: flex;
    flex-flow: column;
    height: 100%;

    overflow-y: scroll;
    overflow-x: hidden;
  }
  .legal ul {
    display: flex;
    padding: 0;
    margin: 0;
    justify-content: flex-end;
    li {
      padding: 5px 30px;
      line-height: 1em;
      font-size: 14px;
      color: #000;
    }
  }

  @media screen and (max-width: 980px) {
    height: unset;
    display: flex;
    flex-direction: column;
    .map-block {
      max-height: 85vh;
      position: unset;
      .menu.top {
        background-color: rgba(128, 128, 128, 0.1);
        order: 1;
        margin: 0px;
        position: unset;
      }
      #mapapp_map {
        height: 550px;
      }
    }
  }
  .legal {
    position: static;
    order: 4;
  }
}
