// If it has map

.mapapp {
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: 70% 30%;
  position: relative;
  overflow-y: hidden;
  height: 100%;
  .map-block {
    width: 100%;
    .menu.top ul {
      padding: 8px 16px;
      margin: 0;
    }
  }

  @media screen and (max-width: 980px) {
    height: unset;
    display: flex;
    flex-direction: column;

    .map-block {
      height: 550px;
      max-height: 85vh;
      position: unset;
      .menu.top {
        background-color: rgba(128, 128, 128, 0.1);
        order: 1;
      }
    }
  }
}
