.home {
  // right side
  .sidebar {
    margin: 0;

    display: flex;
    flex-flow: column;
    height: 100%;

    min-width: 360px;
    min-width: 250px;

    grid-column: 2/3;

    overflow-y: scroll;
    overflow-x: hidden;

    background-color: rgba(128, 128, 128, 0.1);

    .category_filter {
      padding: 30px 45px 15px 45px;
      margin: 0;
      display: flex;
      flex-direction: column;
      row-gap: 20px;
      &--title {
        margin: 0;
        font-size: 28px;
        font-weight: 600;
        padding-bottom: 10px;
      }
      &--button {
        display: flex;
        column-gap: 5%;
        button {
          position: relative;
        }
      }
      &--list {
        display: flex;
        flex-direction: column;

        row-gap: 0.5rem;
        .single_category_wrapper {
          display: flex;
          align-items: center;
          align-content: center;
          row-gap: 0.5rem;
          .cat_checkbox {
            width: 25px;
            height: 25px;
            flex-shrink: 0;
          }
          .cat_label {
            margin-left: 7.5px;
            display: flex;
            cursor: pointer;
            align-items: center;

            &:hover,
            &:active {
              opacity: 0.75;
            }
          }
          .cat_icon {
            width: 30px;
            display: block;
            margin-right: 7.5px;
          }
        }
      }
    }

    .sort_options_block {
      padding: 15px 10%;
      font-size: 15px;
      display: flex;
      align-items: center;
      span {
        margin-right: 5px;
      }

      #main_page_list_sort_options {
        flex-grow: 1;
        padding: 15px;
        font-weight: 500;
        background-color: #fff;
        border: none;
      }
    }

    .marker_list {
      cursor: pointer;
      .marker--entry {
        padding: 22.5px 45px 0 45px;
        background-color: #fff;
        &.bg {
          background-color: rgba($secondary_color, 0.05);
        }

        .entry {
          &_title {
            font-size: 17px;
            line-height: 25px;
            font-weight: 600;
          }
          &_author,
          &_date {
            display: none;
          }
          &_category {
            border-bottom: 2px dashed gray;
            padding-bottom: 22.5px;
            img {
              width: 20px;
              height: 20px;
              position: relative;
              top: 5px;
              margin-right: 7.5px;
            }
          }
        }

        &.marked {
          background-color: rgba($accent_color, 0.9);
          color: #fff;
          padding-bottom: 30px;
          cursor: default;

          .entry_category {
            border: none;
            padding-bottom: 7.5px;
          }

          .button {
            border-color: #fff;
            color: #fff;
          }
          &:hover,
          &:active {
            opacity: 0.7;
          }
        }
      }

      .dn.button.main-page-button {
        display: none;
        &.db {
          display: block;
        }
      }
    }

    @media screen and (max-width: 980px) {
      display: block;
      position: static;
      width: 100%;
      max-width: 100%;
      order: 3;
      overflow-y: auto;
      min-width: 250px;
      box-shadow: none;
    }
  }

  /* Media Querries */
  @media screen and (max-width: 980px) {
    .kulturdatenbank .sidebar {
      min-width: 250px;
    }

    .category_filter_section {
      padding-top: 15px;
    }

    .category_filter_section .category {
      font-weight: 500;
    }

    .single_category_wrapper {
      width: max-content;
    }

    .kulturdatenbank .sidebar .sort_options_block {
      justify-content: flex-start;
      padding-left: 5px;
    }

    .kulturdatenbank #main_page_list_sort_options {
      background-color: #fff;
      width: 185px;
    }

    .search {
      margin-left: 5px;
      margin-right: 5px;
      width: 96%;
      box-sizing: border-box;
    }
  }

  @media screen and (max-width: 440px) {
    .category_filter_section {
      padding-left: 5px;
      padding-right: 5px;
    }

    .marker--entry {
      padding-left: 10px;
      padding-right: 10px;
    }
    .sort_options_block {
      padding: 15px;
      width: 100%;
      justify-content: center;
    }
  }
}
