.popup_wrapper {
  &.show {
    height: 100%;
    background-color: rgba(128, 128, 128, 0.8);
    position: fixed;
    z-index: 1010;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .popup.info {
    max-width: 1200px;
    background-color: #fff;
    display: block;
    position: relative;
    margin: 15%;
  }
  .close.d-button {
    @include x_button_at_before(32px);
    position: absolute;
    top: 0px;
    right: 0px;
    transform: translate(40%, -40%);
  }

  .before_content {
    height: 150px;
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
  .content_wrapper {
    position: relative;
    margin: 5%;
    font-weight: 600;
    h2 {
      font-size: 40px;
    }
  }
  .popup_buttons * {
    font-size: 16px;
  }
}
